body {
  margin: 0;
  background-color: rgb(231, 174, 18);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6%;

  width: 100%;
  height: 100vh;
}

.clock {
  --size: 600px;

  position: relative;

  /* width: 100%;
  height: 100vh; */
  width: var(--size);
  height: var(--size);

  /* background-color: rgb(231, 174, 18); */
  /* background-color: aquamarine; */
}
.clock > img {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /* top: calc(50vh - calc(var(--size) / 2));
  left: calc(50vw - calc(var(--size) / 2)); */
}

.clock > img:nth-of-type(1) {
  background-color: white;
}
.clock > img:nth-of-type(2) {
  transform: rotate(0.0167turn);
}
.clock > img:nth-of-type(3) {
  transform: rotate(0.2turn);
}

main > p {
  font-size: 2rem;
}

button {
  margin-bottom: 50px;

  height: 50px;
  width: 150px;
  border-radius: 25px;

  border-style: none;
  font-size: 1rem;
}
